/src/* merge=theirs
/utils/* merge=theirs

/logs merge=ours
.gitattributes merge=ours
.gitignore merge=ours
Dockerfile merge=ours
.dockerignore merge=ours
.env.example merge=ours
index.ts merge=ours
README.md merge=ours